body {
    font-family: sans-serif;
    line-height: 1.5;

    background-color: palevioletred;
    color: darkslategray;

    width: 980px;
    margin: auto;
}
h1 {
    text-align: left;
    font-size: larger;
    text-shadow: dodgerblue;
    margin-bottom: 0;
}
main {
    text-align: center;
    font-size: 25px;
}